body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1960px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5917 {
  position:absolute;
  left:100px;
  top:86px;
  width:1920px;
  height:1960px;
}
#u5918 {
  position:absolute;
  left:2px;
  top:972px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5919 {
  position:absolute;
  left:1607px;
  top:157px;
  width:50px;
  height:50px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5921 {
  position:absolute;
  left:1657px;
  top:166px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5923 {
  position:absolute;
  left:1793px;
  top:164px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5925 {
  position:absolute;
  left:1743px;
  top:157px;
  width:50px;
  height:50px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5927 {
  position:absolute;
  left:531px;
  top:165px;
  width:85px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5929 {
  position:absolute;
  left:715px;
  top:165px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5930 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5931 {
  position:absolute;
  left:879px;
  top:165px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5933 {
  position:absolute;
  left:1046px;
  top:165px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5935 {
  position:absolute;
  left:350px;
  top:156px;
  width:120px;
  height:80px;
  opacity:0.7;
}
#u5936 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5937 {
  position:absolute;
  left:219px;
  top:165px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5938 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5939 {
  position:absolute;
  left:400px;
  top:212px;
  width:20px;
  height:20px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5941 {
  position:absolute;
  left:997px;
  top:112px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5943_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u5943 {
  position:absolute;
  left:1062px;
  top:112px;
  width:3px;
  height:22px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5945 {
  position:absolute;
  left:1075px;
  top:112px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5947 {
  position:absolute;
  left:374px;
  top:165px;
  width:73px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:473px;
  top:1051px;
  width:200px;
  height:80px;
  opacity:0.4;
}
#u5950 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  position:absolute;
  left:962px;
  top:1051px;
  width:200px;
  height:80px;
  opacity:0.4;
}
#u5952 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5953 {
  position:absolute;
  left:1208px;
  top:1051px;
  width:200px;
  height:80px;
  opacity:0.4;
}
#u5954 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5955 {
  position:absolute;
  left:1455px;
  top:1051px;
  width:200px;
  height:80px;
  opacity:0.4;
}
#u5956 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u5957 {
  position:absolute;
  left:1215px;
  top:1075px;
  width:52px;
  height:32px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5959 {
  position:absolute;
  left:548px;
  top:1075px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5961 {
  position:absolute;
  left:985px;
  top:1075px;
  width:32px;
  height:32px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5963 {
  position:absolute;
  left:1027px;
  top:1075px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5965 {
  position:absolute;
  left:496px;
  top:1075px;
  width:32px;
  height:32px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5967 {
  position:absolute;
  left:1273px;
  top:1075px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5969 {
  position:absolute;
  left:1478px;
  top:1075px;
  width:32px;
  height:32px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5971 {
  position:absolute;
  left:1520px;
  top:1075px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:500px;
}
#u5973 {
  position:absolute;
  left:488px;
  top:476px;
  width:350px;
  height:500px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:242px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:500px;
}
#u5975 {
  position:absolute;
  left:1281px;
  top:476px;
  width:350px;
  height:500px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:242px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:500px;
}
#u5977 {
  position:absolute;
  left:1652px;
  top:476px;
  width:350px;
  height:500px;
}
#u5978 {
  position:absolute;
  left:2px;
  top:242px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:500px;
}
#u5979 {
  position:absolute;
  left:120px;
  top:476px;
  width:350px;
  height:500px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:242px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:650px;
}
#u5981 {
  position:absolute;
  left:860px;
  top:326px;
  width:400px;
  height:650px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:317px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u5983 {
  position:absolute;
  left:860px;
  top:269px;
  width:220px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  position:absolute;
  left:488px;
  top:476px;
  width:100px;
  height:50px;
  opacity:0.6;
}
#u5986 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5987 {
  position:absolute;
  left:518px;
  top:489px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5989 {
  position:absolute;
  left:1657px;
  top:144px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5990 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5991 {
  position:absolute;
  left:182px;
  top:997px;
  width:507px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5992 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  white-space:nowrap;
}
#u5993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5993 {
  position:absolute;
  left:154px;
  top:1169px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u5996 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u5997 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u5998 {
  position:absolute;
  left:0px;
  top:300px;
  width:61px;
  height:24px;
  font-size:20px;
}
.u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
.u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u6000 {
  position:absolute;
  left:171px;
  top:300px;
  width:29px;
  height:24px;
  font-size:20px;
}
.u6001 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5995-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-2 {
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-3 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-4 {
  position:absolute;
  left:750px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-5 {
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-6 {
  position:absolute;
  left:1250px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-7 {
  position:absolute;
  left:1500px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995-8 {
  position:absolute;
  left:1750px;
  top:0px;
  width:200px;
  height:324px;
}
#u5995 {
  position:absolute;
  left:154px;
  top:1211px;
  width:1950px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6002 {
  position:absolute;
  left:154px;
  top:1569px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6006 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6007 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6008 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u6009 {
  position:absolute;
  left:0px;
  top:300px;
  width:61px;
  height:24px;
  font-size:20px;
}
.u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
.u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u6011 {
  position:absolute;
  left:171px;
  top:300px;
  width:29px;
  height:24px;
  font-size:20px;
}
.u6012 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6004-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-2 {
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-3 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-4 {
  position:absolute;
  left:750px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-5 {
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-6 {
  position:absolute;
  left:1250px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-7 {
  position:absolute;
  left:1500px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004-8 {
  position:absolute;
  left:1750px;
  top:0px;
  width:200px;
  height:324px;
}
#u6004 {
  position:absolute;
  left:154px;
  top:1611px;
  width:1950px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u6013 {
  position:absolute;
  left:1192px;
  top:269px;
  width:68px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u6014 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6015 {
  position:absolute;
  left:1874px;
  top:157px;
  width:50px;
  height:50px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6017 {
  position:absolute;
  left:1934px;
  top:166px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6019 {
  position:absolute;
  left:719px;
  top:1051px;
  width:200px;
  height:80px;
  opacity:0.4;
}
#u6020 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6021 {
  position:absolute;
  left:742px;
  top:1075px;
  width:32px;
  height:32px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6023 {
  position:absolute;
  left:784px;
  top:1075px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6025 {
  position:absolute;
  left:154px;
  top:1966px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6026 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6029 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6030 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
.u6031 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u6032 {
  position:absolute;
  left:0px;
  top:300px;
  width:61px;
  height:24px;
  font-size:20px;
}
.u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
.u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u6034 {
  position:absolute;
  left:171px;
  top:300px;
  width:29px;
  height:24px;
  font-size:20px;
}
.u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6027-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-2 {
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-3 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-4 {
  position:absolute;
  left:750px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-5 {
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-6 {
  position:absolute;
  left:1250px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-7 {
  position:absolute;
  left:1500px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027-8 {
  position:absolute;
  left:1750px;
  top:0px;
  width:200px;
  height:324px;
}
#u6027 {
  position:absolute;
  left:154px;
  top:2008px;
  width:1950px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6036 {
  position:absolute;
  left:2152px;
  top:1399px;
  width:667px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  white-space:nowrap;
}
